type npu_transfer_proxy, domain;
type npu_transfer_proxy_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(npu_transfer_proxy)

allow npu_transfer_proxy usb_device:dir r_dir_perms;
allow npu_transfer_proxy usb_device:chr_file rw_file_perms;
allow npu_transfer_proxy npu_transfer_proxy:tcp_socket { create connect getopt setopt read write };
allow npu_transfer_proxy npu_transfer_proxy:capability { net_raw };
allow npu_transfer_proxy port:tcp_socket { name_connect };
allow npu_transfer_proxy fwmarkd_socket:sock_file { write };
allow npu_transfer_proxy init:unix_stream_socket { connectto };

allow npu_transfer_proxy npu_transfer_proxy:netlink_kobject_uevent_socket { setopt bind create read };
allow npu_transfer_proxy sysfs_bus_usb:dir { open read search};
allow npu_transfer_proxy sysfs_plat_usb:file { open read getattr };
allow npu_transfer_proxy sysfs_plat_usb:dir { open read getattr search };

allow npu_transfer_proxy vendor_file:file { execute_no_trans };
allow npu_transfer_proxy sysfs_class_gpio:file { open read write};
allow npu_transfer_proxy debugfs_clk_wifi_pmu:file { open read write};
allow npu_transfer_proxy sysfs_wake_lock:file { open read write};

allow npu_transfer_proxy npu_transfer_proxy:capability2 { block_suspend };

allow npu_transfer_proxy sysfs_dev:file { open read getattr};
allow npu_transfer_proxy sysfs_armnn:file { open read getattr};
allow npu_transfer_proxy sysfs:file { open read getattr};
allow npu_transfer_proxy kernel:file { open read getattr};
allow npu_transfer_proxy kernel:dir { open read search};
allow npu_transfer_proxy init:file { open read getattr};
allow npu_transfer_proxy init:dir { open read search};
allow npu_transfer_proxy vendor_init:file { open read };
allow npu_transfer_proxy device:dir { open read };
allow npu_transfer_proxy pcie_device:chr_file { open read write ioctl };
allow npu_transfer_proxy socket_device:dir { open read write add_name create remove_name };
allow npu_transfer_proxy socket_device:sock_file { open read write create unlink setattr };
allow npu_transfer_proxy npu_powerctrl_exec:file { execute_no_trans };

get_prop(npu_transfer_proxy,vendor_default_prop);
file_type_auto_trans(npu_transfer_proxy, socket_device, transfer_proxy_socket);
