type npu_monitor, domain;
type npu_monitor_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(npu_monitor)

allow npu_monitor sysfs:file { open read write };
allow npu_monitor sysfs_temp:file { open read write};
allow npu_monitor sysfs_gpu_powerpolicy:file { open read write};
