type upgrade_tool, domain;
type upgrade_tool_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(upgrade_tool)

allow upgrade_tool tmpfs:file { open ioctl };
allow upgrade_tool upgrade_tool:netlink_kobject_uevent_socket { setopt bind create read };
allow upgrade_tool system_file:file { open read getattr execute execute_no_trans};
allow upgrade_tool vendor_file:file { open read getattr execute execute_no_trans};

allow upgrade_tool sysfs_bus_usb:dir { open };
allow upgrade_tool sysfs_plat_usb:file { open read getattr };

